body {
  background-image:none;
  background-color: rgb(128,0,128);
height : 100vh;

}
.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}
.showBack {
  background-image:  url('./img/background.png')  ;  
  top : 0;
  right: 0;
  bottom:0;
  left:0;
  z-index: -1;   
  background-size: cover;  
  height: 100vh;

}
.hideBack{
  background-image: none;
  background-color: rgb(128,0,128);
  background-size: cover;
}
.mainColor{
  background-color: rgb(128,0,128);
  color:white;
}